.home-container {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  padding: var(--pad);
  max-width: var(--max-w);
  margin: 0 auto;
}
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

body {
  overflow-x: hidden;
}